@import url('https://fonts.googleapis.com/icon?family=Materail+Icons');
body {
    background-color: #4463a2;
    font: 1.2em / 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
  }

  nav h2{
    text-align: center;
    font-size: xx-small;
    color: #38637d;
  
  }
  nav ul{
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
  }
  
  
  nav ul li a{
    color: #002345;
  }

  nav ul li a:hover{
    color: #FFB703;
  }
  
  #skip-nav {
    background: white;
    color: black;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-800%);
  }
  
nav, 
main,
aside{
  border: 1px black solid;
  border-radius: 8%;
  
}

#hands{
  border-radius: 8%;
  max-width: 800px;
}

#reff h3,
#contact h3
{
  font-size: 150%;
  color:#EDF5E1;
  font-weight: lighter;
}
main h4{
  font-size: 150%;
  color:#EDF5E1;
  font-weight: lighter;
}

main p,
#principles ul
{
  text-align: left;
  font-size: 100%;
  padding: 0 2em;
}

main h4{
  text-align: left;
  padding: 0 1em;
}

main h3{
  position: center;
  font-size: 125%;
  font-weight: bold;
  color:#05386B;

}

#principles ol{
  text-align: left;
  font-size: larger;
  color: #EDF5E1;
  padding: 0 13em;
}
#principles img{
  max-width: 250px;
  max-height: 300px;
  padding: 1em 5em;
  border-radius: 6%;
}

footer{
  color: #002345;
  font-weight: lighter;
}

Example
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #002345;
  color: white;
  padding: 1em 2em;
  margin-bottom: 6px; /* Add a top margin */

  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#reff th{
  color: #002345;
}
#reff a{
  text-align: left;
  color: #EDF5E1;
}

#reff a:hover{
  color: #FFB703;
}


#W3C img{
  border-radius: 8%;
}

header{
    text-align: center;

    font-size: 175%;
    color: #ffffff;
    text-decoration-style: double;
}
header h2{
  position: relative;
  color: #EDF5E1;
  font-size: 90%;
}

aside,
main{
  text-align: center;
}


footer{
  text-align: center;
  font-weight: lighter;
  color: #EDF5E1;
}


/* beggining of grid content*/
.container{
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-row-gap: 20px;
  row-gap: 20px;
  grid-column-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 
  1fr 1fr;
  grid-template-areas: 
  "nav nav"
  "head head"
  "what what"
  "what what"
  "resources image"
  "resources image"
  "footer   footer"
  ;

}

nav{grid-area: nav; background-image: linear-gradient(to top, #4463a2, #ffffff38);}
header{grid-area: head; background: #7794a600;}
main{grid-area: what; background: #ffffff38;}
#reff{grid-area: resources; background: #ffffff38;}
#contact{grid-area: image; background: #ffffff38;}
footer{grid-area: footer;}

nav ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav ul li{
  list-style: none;
}

@media screen
  and (min-width: 641px)
  and (max-width: 900px) {
    .container{
      grid-template-columns:
      1fr   1fr;
      grid-template-areas: 
      "head  head"
      "nav nav"
      "what what"
      "resources resources"
      "image image"
      "footer  footer";
    } 
} /*end media query*/

@media screen
and (max-width:640px) {


  .container{
    grid-template-columns:
    1fr;
    grid-template-areas:
    "head"
    "nav"
    "what"
    "resources"
    "image"
    "footer";
  }
  nav ul{
    text-align: center;
  }
  nav ul li a{
    justify-content: center;
    display: block;
    padding: 0em 5em;
    margin: 5px;
    border: 1px black solid;
    background: #D6D58E;
    color: #042940;
  }
  body{
    background-repeat: repeat;
  }

}